

/*-- contenedor principal en el body-->*/
.flex-container{
    background-color: rgb(253, 253, 253);
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans';
    
}

/*-- barra de navegacion-->*/

.navbar{
    box-shadow: 0px 8px 15px;
    padding-bottom: 0%;
    margin: 0px;
    padding: 0%;   
} 

.container-fluid{
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
   
}

.nav-link:hover{
    line-height: 200px;
    color: rgb(0, 0, 0);
    background-color: rgb(43, 226, 150);

}

/*-- ToDoList-->*/

.Todolist{
  
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  
}

.encabezado{
display: flex;
justify-content: center;
flex-direction: column;
background-color: rgb(43, 226, 150);
width: 80%;

    
}

.encabezado h1{
    text-align: center;
    color: aliceblue;
    font-size: 50px;
}

.encabezado button{
    padding: 0.5rem;
    border: none;
    background-color: rgb(151, 151, 147);
    color: white;
    cursor: pointer;
}

.encabezado input{
    padding: 2%;     
    margin-bottom: 5px;
}

  #add-button:hover {
    background-color: #242e25;
  }
  
  #tarea-list {
    list-style-type: none;
    padding: 0;
  }
  
  .tarea-item {
    margin-bottom: 5px;
    background-color: rgb(248, 236, 68);
    padding: 1%;
    font-size: 20px;
  }

  
  .tarea-item.completed {
    text-decoration: line-through;
    color: #f0e9e9;
    background-color: rgb(51, 47, 46);

  }

.tarea{
  display: flex;
  justify-content: center;
  
  width: 100%;
}
 .tarea ul {
  width: 80%;
}




